@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('fonts/Righteous-Regular.woff2') format('woff2'),
        url('fonts/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.woff2') format('woff2'),
        url('fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html {
    background: linear-gradient(0deg, hsla(259, 69%, 44%, 0.6) 0%, hsla(323, 86%, 37%, 1) 100%), url('/public/img/vinyle.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    min-height: 100%;
    height: max-content;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container {
    color: white;

    &.login {
        width: 700px;
        margin: auto;

        h1 {
            text-align: center;
            margin-top: 50px;
        }

        h2 {
            font-family: 'Righteous', cursive;
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            margin: 50px 0 110px 0;

            &.connect-text {
                margin-bottom: 70px;
            }
        }

        .description-text {
            font-size: 20px;
            text-align: center;
            width: 630px;
            margin: 0 auto;
        }

        @media screen and (max-width : 768px) {
            width: 500px;

            h2 {
                margin: 50px 0 80px 0;
            }

            .description-text {
                width: auto;
            }
        }

        @media screen and (max-width : 576px) {
            width: 300px;

            h1 img{
                width: 80%;
            }

            h2 {
                font-size: 20px;
                margin: 50px 0 50px 0;
            }

            .description-text {
                font-size: 16px;
                width: 100%;
            }
        }
    }

    .login-method {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;

        .signin-method,
        .signup-method {
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            text-align: center;

            span {
                margin-bottom: 30px;
            }

        }
        @media screen and (max-width : 768px) {
            flex-direction: column;
            align-items: center;

            .signup-method{
                margin-bottom: 80px;
            }
        }

        @media screen and (max-width : 576px) {
            .signup-method{
                margin-bottom: 50px;
            }
            .signup-method,
            .signin-method{
                font-size: 16px;
                width: 100%;
            }
        }
    }

    .login-form {
        width: 500px;
        margin: 0 auto;

        .input-field {
            display: flex;
            flex-direction: column;

            .input-element {
                margin: 10px 0 30px 0;
                padding: 25px 10px;
                border-radius: 8px;
                outline: 0;
                border: 1px solid black;
                font-size: 16px;
                line-height: 19px;
                font-family: 'Roboto', sans-serif;
                color: #8c8490;
            }
        }

        .connect-button,
        .register-button {
            width: 500px;
            margin-bottom: 50px;

            .top-text-button {
                margin-bottom: 30px;
                color: white;
                font-size: 18px;
                font-weight: 400;
                line-height: 19px;
            }

            .register-checkbox {
                text-align: left;
                display: flex;
                align-items: center;
                margin: 0 0 30px 50px;

                input[type=checkbox] {
                    width: 20px;
                    height: 20px;
                    margin-right: 12px;
                }

                span {
                    font-size: 16px;
                }
            }

            .register-text {
                margin-bottom: 15px;
            }
        }

        .register-bottom-information {
            margin-top: 10px;

            .register-bottom-information-text {
                text-align: center;
            }
        }

        @media screen and (max-width : 576px){
            width: 100%;

            .input-field .input-element{
                padding: 20px 10px;
            }

            .register-button,
            .connect-button{
                width: 100%;
            }

            .register-text,
            .register-bottom-information-text {
                font-size: 18px;
            }
        }
    }
}
