html {
    background: linear-gradient(16.12deg, rgba(85, 35, 191, 0.7) 9.16%, rgba(176, 13, 114, 0.7) 75.86%), #000000 !important;
}

*::-webkit-scrollbar {
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #414244;
    border-radius: 10px;
}

body,
.container {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    .header {
        display: none;
    }

    @media screen and (max-width : 768px) {
        .header {
            display: flex;
            justify-content: space-between;

            .header-first-elements {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

            a#lastPageLink {
                position: absolute;
                top: 0px;
                left: 0px;

                .lastPage {
                    width: 16px;
                    height: 16px;
                    margin: 8px 0 0 8px;
                }
            }

            h1 {
                margin: 10px 30px 0px 30px;
            }

            h1 img {
                width: 108px;
                height: 40px;
                overflow: visible;
            }

            .icons {
                display: flex;
                justify-content: flex-end;
            }

            .settings-search {
                display: flex;
                flex-direction: column;
                margin: 8px;

                .search {
                    margin-right: 10px;
                }

                .searchbar {
                    overflow: hidden;

                    .searchbar-form {
                        transform: translateY(-50px);
                        transition: transform 0.3s ease-in;

                    }

                    &.show {
                        .searchbar-form {
                            transform: translateY(0);
                            transition: transform 0.3s ease-in;
                        }
                    }

                    input[type=search] {
                        width: 100%;
                        border-radius: 8px;
                        outline: 0;
                    }

                    input[type=search]:focus,
                    input[type=search]:active,
                    input[type=search]:hover {
                        outline: 0;
                    }

                    .search-icon {
                        right: 10px;
                        top: 50%;
                        width: 12px;
                        transform: translateY(-50%);
                    }

                    #sidebarSearch.typing {
                        +.search-icon {
                            display: none;
                        }
                    }
                }
            }
        }

        .container .sidebar {
            display: none;
        }
    }
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    @media screen and (max-width : 768px) {
        padding: 10px;
        margin-bottom: 70px;
    }

    .page-ml {
        h3 {
            font-size: 18px;
        }
    }
}



.page-content {
    width: calc(100% - 300px);
    margin: 0 15px 90px 285px;

    position: relative;

    .display-message {
        position: fixed;
        left: 0;
        top: 0;
        width: calc(100% - 400px);
        margin: 0 65px 0px 335px;
        padding: 20px 0;
        background-color: #00000060;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        &.hidden {
            top: -100px;
        }

        &.show {
            animation: 4s linear showMessage;
        }

        p.message {
            margin: 0;
            text-align: center;
        }

        @media screen and (max-width:768px) {
            width: calc(100% - 130px);
            margin: 0 65px 0px 65px;
        }
    }

    a {
        text-decoration: none;
    }

    h2 {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;

        color: #FFFFFF;
        display: flex;
        align-items: center;

        margin-top: 30px;

        span {
            margin-right: 5px;

        }
    }

    @media screen and (max-width : 768px) {
        width: 100%;
        margin: 0;
    }
}

#content .home_albums {
    margin: 0;

    .artist-albums-list .albums-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 60px;
    }

    .album-cover{
        overflow: visible;
        .album-cover-container{
            overflow: hidden;
        }
    }
}

.styles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    a {
        width: fit-content;
    }

    .styles-list {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .styles-element {
            position: relative;
            width: 245px;
            height: 102px;
            background-image: url('/public/img/style-bg.png');
            margin: 0 12px 8px 0;
            color: #fff;
            text-decoration: none;

            h3 {
                position: absolute;
                top: 0;
                margin: 5px;

                font-family: 'Righteous';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
            }

            @media screen and (max-width : 596px) {
                width: calc(50% - 15px) !important;
            }
        }
    }

    @media screen and (max-width : 1200px) {
        .styles-list .styles-element:nth-child(n+7) {
            display: none;
        }

        .styles-list .styles-element {
            width: 180px;
            height: 75px;
            background-size: contain;
        }
    }
}

.artists-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 30px 0;
    overflow-x: scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
        height: 0px;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #41424400;
        border-radius: 10px;
    }

    &:hover {
        &::-webkit-scrollbar {
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #ffffff00;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #414244;
            border-radius: 10px;
        }
    }

    a {
        width: fit-content;
    }

    .artists-list {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 400vh;
        max-width: fit-content;

        scrollbar-width: auto;
        scrollbar-color: #414244 #ffffff;

        .artist-element {
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 40px;
            color: #fff;
            text-decoration: none;

            .artist-cover {
                height: 200px;
                width: 100%;
                border-radius: 500px;
                background-size: cover;
                background-position: center;

                img {
                    max-width: 100%;

                }
            }

            .artist-name {
                margin-top: 5px;

                h3 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    margin: 0;
                }
            }

            .artist-follow {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                text-align: center;

                p {
                    margin: 0;
                    margin-top: 5px;
                }

                img {
                    margin-right: 10px;
                }
            }
        }
    }

    @media screen and (max-width : 1200px) {
        .artists-list {

            // flex-wrap: wrap;
            // justify-content: flex-start;
            .artist-element {
                width: 150px;

                .artist-cover {
                    height: 150px;
                }
            }
        }
    }
}

.page-ml {
    h3 {
        font-size: 18px;
    }
}

@keyframes showMessage {
    0% {
        top: -100px;
    }

    25% {
        top: 0;
    }

    75% {
        top: 0;
    }

    100% {
        top: -100px;
    }
}
