html {
    background: linear-gradient(16.12deg, rgba(85, 35, 191, 0.7) 9.16%, rgba(176, 13, 114, 0.7) 75.86%), #000000 !important;
}

*::-webkit-scrollbar {
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #414244;
    border-radius   : 10px;
}

body,
.container {
    margin    : 0;
    height    : 100%;
    overflow-x: hidden;
}


.container {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: flex-start;
}

.page-content {
    width : calc(100% - 300px);
    margin: 0 15px 90px 285px;
    
    position : relative;
    a{
        text-decoration: none;
    }
    h2 {
        font-family   : 'Righteous';
        font-style    : normal;
        font-weight   : 400;
        font-size     : 18px;
        line-height   : 22px;
        display       : flex;
        align-items   : center;
        text-align    : center;
        text-transform: capitalize;

        color: #FFFFFF;
        display : flex;
        align-items: center;
        span{
            margin-right : 5px;

        }
    }
}

.styles-container {
    display       : flex;
    flex-direction: column;
    flex-wrap     : nowrap;
    margin        : 30px 0;
    a{
        width : fit-content;
    }

    .styles-list {
        flex-direction : row;
        justify-content: flex-start;
        flex-wrap      : wrap;
        
        .styles-element {
            position        : relative;
            width           : 245px;
            height          : 102px;
            background-image: url('/public/img/style-bg.png');
            margin          : 0 12px 8px 0;
            color: white;
            text-decoration: none;

            h3 {
                position: absolute;
                top     : 0;
                margin  : 5px;

                font-family   : 'Righteous';
                font-style    : normal;
                font-weight   : 400;
                font-size     : 12px;
                line-height   : 15px;
                text-transform: uppercase;
            }
        }
    }
}

.artists-container {
    display       : flex;
    flex-direction: column;
    flex-wrap     : nowrap;
    margin        : 30px 0;
    overflow-x    : scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
        height: 0px;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #41424400;
        border-radius   : 10px;
    }

    &:hover {
        &::-webkit-scrollbar {
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #ffffff00;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #414244;
            border-radius   : 10px;
        }
    }
    a{
        width : fit-content;
    }

    .artists-list {
        flex-direction : row;
        justify-content: flex-start;
        flex-wrap      : nowrap;
        width          : 400vh;
        max-width      : fit-content;

        scrollbar-width: auto;
        scrollbar-color: #414244 #ffffff;

        .artist-element {
            width          : 200px;
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            margin-right   : 40px;
            color          : #fff;
            text-decoration: none;

            .artist-cover {
                height             : 200px;
                width              : 100%;
                border-radius      : 500px;
                background-size    : cover;
                background-position: center;

                img {
                    max-width: 100%;

                }
            }

            .artist-name {
                margin-top: 5px;

                h3 {
                    font-family: 'Roboto';
                    font-style : normal;
                    font-weight: 500;
                    font-size  : 14px;
                    line-height: 16px;
                    text-align : center;
                    margin     : 0;
                }
            }

            .artist-follow {
                font-family: 'Roboto';
                font-style : normal;
                font-weight: 300;
                font-size  : 12px;
                line-height: 14px;
                text-align : center;

                p {
                    margin    : 0;
                    margin-top: 5px;
                }

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}

